



html,body{
    margin: 0%;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

/*----------css variables----------------*/

:root{
    --primary-color:#4458dc;
    --primary-color:#854fee;
    --title-color:#141313;
    --text-color:#777777;
    --border-color:#201f1f17;
    --gradient-color:linear-gradient(90deg,#4458dc 0%,#854fee 100%);
    --shadown-color:0px 10px 30px rgba(118 85 225 0.3) ;
    --box-shadown:0px 10px 30px rgba(57 56 61 0.205);


     /* font family variables. */ 
     --roboto: 'Roboto', cursive;
    } 
    

